<!-- <div class="row">
  <div class="large-12 medium-12 columns">
  <div>友情链接</div>
  <a hidefocus="true" class="link-h" href="http://sports.people.com.cn/" target="_blank">人民网</a>
  <a hidefocus="true" class="link-h" href="http://www.xinhuanet.com/sports/index.htm" target="_blank">新华网</a>
  <a hidefocus="true" class="link-h" href="http://sports.cntv.cn/?=mk2_dongfangtiyu" target="_blank">央视网体育</a>
  <a hidefocus="true" class="link-h" href="http://sports.qianlong.com/" target="_blank">千龙网</a>
  <a hidefocus="true" class="link-h" href="http://sports.china.com.cn/" target="_blank">中国网体育</a>
  <a hidefocus="true" class="link-h" href="http://sports.china.com/" target="_blank">中华网体育</a>
  <a hidefocus="true" class="link-h" href="http://sports.ifeng.com/" target="_blank">凤凰网体育</a>
  <a hidefocus="true" class="link-h" href="http://gb.cri.cn/sports/index.htm" target="_blank">国际在线体育</a>
  <a hidefocus="true" class="link-h" href="http://sports.huanqiu.com/" target="_blank">环球网体育</a>
  <a hidefocus="true" class="link-h" href="http://sports.jschina.com.cn/" target="_blank">江苏网</a>
  <a hidefocus="true" class="link-h" href="http://sports.eastday.com/" target="_blank">四川新闻网</a>
  <a hidefocus="true" class="link-h" href="http://msn.sports.ynet.com/" target="_blank">MSN中国体育频道</a>
  <a hidefocus="true" class="link-h" href="http://gb.cri.cn/sports/index.htm" target="_blank">国际在线体育</a>
  <a hidefocus="true" class="link-h" href="http://caipiao.china.com/lottery/" target="_blank">中华网彩票</a>
  <a hidefocus="true" class="link-h" href="http://sports.cntv.cn/index.shtml" target="_blank">CNTV体育台</a>
  <a hidefocus="true" class="link-h" href="http://sports.v1.cn/" target="_blank">第一视频体育</a>
  </div>
</div>
 -->
