<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><?php echo $val['title'];?></title>
<link type="text/css" href="<?php echo $view['staticCss'].'/app.css';?>" rel="stylesheet">
<link type="text/css" href="<?php echo $view['staticCss'].'/foundation/foundation.css';?>" rel="stylesheet">
<script type="text/javascript" src="<?php echo $view['staticJs'].'/foundation/vendor/modernizr.js';?>"></script>
<script type="text/javascript" src="<?php echo $view['staticJs'].'/jquery-1.11.2.min.js';?>"></script>
<script type="text/javascript" src="<?php echo $view['staticJs'].'/app.js';?>"></script>
<meta name="keywords" content="<?php echo $const['keywords'];?>">
<meta name="description" content="<?php echo $const['description'];?>">
<meta name="baidu-site-verification" content="lhnX5XQRhR" />
</head>